section
  h3 About Myself
  .flex-row.face-lockup
    .face-img
    .icon-pencil {% include icons/icon-pencil.html %}
    .icon-mouse {% include icons/icon-mouse.html %}
    .icon-browser {% include icons/icon-browser.html %}
    .icon-video {% include icons/icon-video.html %}

  .blurb
    p <strong>Lorem ipsum dolor sit amet</strong>. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

  .skill-lockup
    .skill-unit
      .skill-label Communication
      .skill-icons.skill-7
        - for (var x = 0; x < 10; x++)
          span
    .skill-unit
      .skill-label Organization
      .skill-icons.skill-7
        - for (var x = 0; x < 10; x++)
          span
    .skill-unit
      .skill-label Learning
      .skill-icons.skill-10
        - for (var x = 0; x < 10; x++)
          span
    .skill-unit
      .skill-label Teaching
      .skill-icons.skill-8
        - for (var x = 0; x < 10; x++)
          span
    .skill-unit
      .skill-label Planing
      .skill-icons.skill-7
        - for (var x = 0; x < 10; x++)
          span
    .skill-unit
      .skill-label Visual Design
      .skill-icons.skill-5
        - for (var x = 0; x < 10; x++)
          span
    .skill-unit
      .skill-label UX Design
      .skill-icons.skill-8
        - for (var x = 0; x < 10; x++)
          span
    .skill-unit
      .skill-label Programming
      .skill-icons.skill-9
        - for (var x = 0; x < 10; x++)
          span
