header#header
  .flex-row.nav-menu-wrapper
    .logo {% include icons/logo.html %}
    nav.main-menu
      a(href="#about-me") About Me
      a(href="#work") Work
      a(href="#clients") Clients
      a(href="#footer") Contact

  h1.site-name
    span {{ site.title }}

  p.kicker {{ site.description }}
