header
  .flex-row.nav-menu-wrapper
    .logo {% include icons/logo.html %}
    nav.main-menu
      a(href="") About Me
      a(href="") Work
      a(href="") Clients
      a(href="") Contact

  h1.site-name
    span {{ site.title }}

  p.kicker {{ site.description }}
