/*** =================================================================***/
/*                                BASE                                */
/*** =================================================================***/

body
  font-family: 'Open Sans', sans-serif

a
  color: #21a1e1
  text-decoration: none

p
  color: #666
